.qwirkle-game-mutator {
  width: 100%;
  height: 100%;

  .grid {
    position: absolute;
    left: 0;
  }

  .qwirkle-game-viewer {
    padding: var(--stoneWidth);
    pointer-events: none;
  }

  .grid,
  .qwirkle-game-viewer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .grid {
    opacity: .5;
  }
}