.qwirkle-board {
  transition: opacity .4s ease-in-out;
  
  .has-active & {
    opacity: 0.8;
  }

  .stone {
    fill: rgb(44, 46, 53);
  }
 
  &.hidden {
    opacity: 0;
  }

  &.active {
    opacity: 1;
  }
}
